.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.footer__logoimg {
  width: 60px;
  height: 60px;
  margin-left: 80px;
}
.footer__spisok {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}
.footer__spisok li {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}
.footer__topmenu {
  display: flex;
  list-style: none;
}
.footer__link {
  display: inline;
  margin: 15px;
}
.footer__blok {
  margin-left: 10px;
  line-height: 20px;
  padding-top: 20px;
}
.footer__gos {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 576px) {
  .footer__logoimg {
    margin-left: 10px;
  }
  .footer__spisok li {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-decoration: none;
  }
  .footer__link {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-decoration: none;
  }
  .footer__topmenu a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-decoration: none;
  }
  .footer__gos {
    width: 30px;
    height: 30px;
  }
  .footer__logoimg {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
}
